$paragraph-shadow-color: #c7843b;
$border-col: #3d261c;

@use '../../node_modules/bootstrap/scss/bootstrap.scss' with 
(
    $primary: $paragraph-shadow-color,
    $secondary: #8CB2C2,

    $light: #F5ECD7,
    $dark: #1C2B33,

    $body-color: #f7b64d,

    $grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 700px,
        lg: 1100px,
        xl: 1400px,
        xxl: 1600px
    ),

    $border-radius: 0.75rem,
    $border-radius-lg: 1rem,
    $border-radius-sm: 0.4rem,

    $border-width: 2px,

    $h1-font-size: 2.5rem,
    $h2-font-size: 2rem,
    $h3-font-size: 1.6rem,
    $h4-font-size: 1.3rem,
    $h5-font-size: 1.1rem,
    $h6-font-size: 0.95rem,

    $font-family-base: 'Georgia' serif,

    $headings-font-weight: 700
);

h2{
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-size: 1.7em;
    font-weight: bold;
}

h3{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: bold;
}

p {
    margin-top: 1em;
}

ul.menu li {
    box-sizing: content-box;
}

.fees-table caption{
    text-align: center;
}

summary{
    font-weight: bold;
}

hgroup p{
    font-weight: 700;
}

.btn-primary {
    border-color: $border-col;

    &:hover, &:active, &:focus {
        border-color: $border-col;
    }
}