//defining mixins and variable nul

$nul: 0;
@import 'nav_utils';
$button-width: 250px;

@mixin displayType($dispType, $pos){
    display: $dispType;
    position: $pos;
}

@mixin styleAndTransition($wdth, $hght, $brd, $textDeco, $trans, $lineHght, $fntWght, $txtAlign){
    width: $wdth;
    height: $hght;
    border: $brd;
    text-decoration: $textDeco;
    transition: $trans;
    line-height: $lineHght; 
    font-weight: $fntWght;
    text-align: $txtAlign;
}

@mixin backgroundColor($bckgCol){
    background-color: $bckgCol;
}

%listType{list-style-type: none;}
%textColor{color: var(--main-color);}
%textColorHover{color: var(--paragraph-color);}


//=====================================================

nav{
    margin-bottom: 10px;
}

#hamburger, #ch-menu{
    @include displayType(none, static);
}

.icon-label, .menu-icon{
    @include displayType(inline-block, static);
}

ul.menu{
    @extend %textColor;
    &, ul {
        @extend %listType;
        padding: $nul;
        margin: $nul;
    }
    @include displayType(flex, relative);

    ul{
        @include displayType(none, absolute);
        z-index: 2;
    }

    li{
        cursor: pointer;
        @include styleAndTransition($button-width,
                                    auto, 
                                    var(--grid-border), 
                                    none, 
                                    all 0.3s linear, 
                                    2,
                                    bold,
                                    center);
        @include backgroundColor(var(--grid-background));
        border-right: none;

        a{
            @extend %textColor;
            @include styleAndTransition($button-width, 
                                        100%, 
                                        $nul, 
                                        none, 
                                        all 0.3s linear,
                                        2,
                                        bold,
                                        center);
            @include displayType(block, static);
        }

        @extend %subOpAlign;

        ul{
            border: var(--grid-border);
            li{
                border-left: none;
                border-top: none;
            }

            .bottom-element{
                border-bottom: none;
            }
        }

        &:hover{
            @include backgroundColor(var(--main-color));
            @extend %textColorHover;
            ul{
                @include displayType(block, absolute);
                animation: submenu_animation 0.3s linear;
                li:hover a{
                    @extend %textColorHover;
                }
            }
        }
        &.left-outer-button{
            &:hover{
                border-bottom-left-radius: 0;
            }
        }
        &.right-outer-button{
             &::after{
                content: '';
                background: linear-gradient(var(--main-color), var(--grid-background), var(--main-color));
                height: 10px;
                width: $button-width + 4;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                right: 0;
                top: 0;
                position: absolute;
                opacity: 0;
                transition: top 0.3s linear, opacity 0.5s ease;
                z-index: 1;
                pointer-events: none;
            }

            &:hover {
                border-bottom-right-radius: 0px;

                a {
                    @extend %textColorHover;
                    background-color: var(--main-color);
                }

                &::after {
                    top: 80%;
                    opacity: 1;
                }
            }
        }
    }

    .right-outer-button{
        border-bottom-right-radius: 15px;
        border-right: var(--grid-border);}
    .left-outer-button{border-bottom-left-radius: 15px;}
}

@keyframes submenu_animation{
    0% {
        opacity: $nul;
        transform: scale($nul, $nul);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}