#products-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "filters filters"
                         "produse produse"
}

.range-elements{
    display: flex;
    align-items: center;
    justify-content: center;

    input{
        margin-left: 6px;
        margin-right: 10px;
    }
}

#filters{
    grid-area: filters;
    margin-bottom: 20px;
}

#grid-produse{
    grid-area: grid-produse;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .produs{
        border: 2px solid blue;
        display: flex;
        flex-direction: column;
        .info-prod{
            display: flex;
            flex: 1;
            height: 100%;
            border: 2px solid purple;
            .content{
                width: 60%;
                display: flex;
                flex-direction: column;
                figure{
                    border: 2px solid green;
                    flex: 1;
                    margin: 0;

                    img{
                        display: flex;
                        border: 20px solid white;
                        width: 100%;
                        height: 100%;
                        max-height: 600px;
                        object-fit: cover;
                    }
                }
            }
        

            .table-layout{
                width: 40%;
                border: 2px solid black;
                td, tr{
                    border: 2px solid black;
                }
            }

            .tonuri-de-apel{
                figure{
                    height: 60%;
                }
            }
        }
    }
    
}

#produse{
    grid-area: produse;
}

#infoSuma{
    width: 40%;
    position: fixed;
    top: 1em;
    left: 25%;
    z-index: 10;
    color: var(--paragraph-shadow-color);
}

@media screen and (max-width: 1800px){
    .table-layout{
        width: 10%;
    }

    #grid-produse{
        .produse{
            .info-produs{
                .content{
                    width: 95%;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    #grid-produse{
        display: block;
    }
}

@media screen and (max-width: 700px){
    .button-text{
        display: none;
    }

    .produs{
        display: block;
        .info-prod{
            display: block;
        }
    }
}
