%border-var{
    border: 2px solid var(--paragraph-shadow-color);
}

@mixin border-phone{
    border-left: 3px solid var(--paragraph-shadow-color);
    border-right: 3px solid var(--paragraph-shadow-color);
}
@mixin head-color{
    color: var(--text-color-paragraph);
}


.founders-table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;

    .founders-table{
        width: 100%;
        margin-top: 10px;
        color: var(--text-color);
        border-collapse: collapse;
        border-spacing: 0;
        @extend %border-var;

        th, td{
            @extend %border-var;
            padding: 10px;
            text-align: center;
        }

        td{
            background: linear-gradient(to right, var(--main-color), var(--grid-fade), var(--main-color));
            padding-top: 15px;
            padding-bottom: 15px;
        }

        thead{
            tr{
                th{
                    background: linear-gradient(to right, var(--box-shadow), 
                                                              var(--titles-color),
                                                              var(--box-shadow));
                    filter: brightness(85%);
                    color: var(--text-color-paragraph);
                    text-shadow: 1px 2px 3px var(--box-shadow);
                    text-align: center;
                    vertical-align: center;
                    padding: 25px 10px;
                    font-size: 1.2em;
                }
            }
        }

    }
}

@media screen and (max-width: 750px){
    .founders-table-container{
        .founders-table{
            border: none;
            thead{
                display: none;
            }

            td, tr{
                display: block;
            }

            th, td{
                border: none;
            }

            td{
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                white-space: normal;
                text-wrap: wrap;
                background: linear-gradient(to right, var(--main-color), var(--grid-fade), var(--main-color));
                border-bottom: 1px solid var(--paragraph-shadow-color);
                @include border-phone; 
                &:last-child{
                    border-bottom:5px double var(--paragraph-shadow-color);
                }
            }

            tr{
                &:first-child{
                    border-top:3px solid var(--paragraph-shadow-color);
                }

                &:last-child{
                    border-bottom:3px solid var(--paragraph-shadow-color);
                }  

                &.last-elem{
                    td{
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }

            tbody{
                td{
                    font-size: 0.8em;
                    text-align: left;
                    text-align-last: center;
                    &::before{
			            float:left;
			            width:40%;
                        min-width: 180px;
			            background: linear-gradient(to right, var(--box-shadow), 
                                                              var(--titles-color),
                                                              var(--box-shadow));
			            font-weight:bold;
			            margin-right:0.5em;
			            padding:0.1em;
			            line-height:300%;
		            }

                    &:nth-child(1)::before{
                        content: "Nume: ";
                        @include head-color;
                    }

                    &:nth-child(2)::before{
                        content: "Rol: ";
                        @include head-color;
                    }

                    &:nth-child(3)::before{
                        content: "Specializare: ";
                        @include head-color;
                    }

                    &:nth-child(4)::before{
                        content: "Contact: ";
                        @include head-color;
                    }
                }
            }
        }
    }   
}