#animated-gallery {
  grid-area: animated-gallery;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.gallery-card figure:hover picture img,
.gallery-card figure:hover figcaption {
  animation-play-state: paused !important;
}
.gallery-card figure {
  border: 35px solid transparent;
  border-image: url("/resurse/imagini/background_images/AbstractGold.jpg") 30 round;
  position: relative;
  width: 60%;
  max-width: 400px;
  aspect-ratio: 9/16;
  clip-path: inset(0 round 30px);
  margin: 0;
  display: block;
}
.gallery-card figure picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 65px);
  border: 3px solid var(--paragraph-color);
  object-fit: cover;
  border-bottom: none;
}
.gallery-card figure picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  border: 3px solid var(--paragraph-color);
  border-top: none;
  background: linear-gradient(to right, var(--box-shadow), var(--paragraph-shadow-color), var(--box-shadow));
}
.gallery-card figure figcaption strong {
  color: var(--text-color-paragraph);
  text-shadow: 1px 3px 15px var(--main-color);
}
.gallery-card figure picture:nth-of-type(1) img,
.gallery-card figure figcaption:nth-of-type(1) {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 1;
}
.gallery-card figure picture:nth-of-type(2) img,
.gallery-card figure figcaption:nth-of-type(2) {
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  z-index: 2;
  animation: photo-transition-2 48s infinite;
}
.gallery-card figure picture:nth-of-type(3) img,
.gallery-card figure figcaption:nth-of-type(3) {
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  z-index: 3;
  animation: photo-transition-3 48s infinite;
}
.gallery-card figure picture:nth-of-type(4) img,
.gallery-card figure figcaption:nth-of-type(4) {
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  z-index: 4;
  animation: photo-transition-4 48s infinite;
}
.gallery-card figure picture:nth-of-type(5) img,
.gallery-card figure figcaption:nth-of-type(5) {
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  z-index: 5;
  animation: photo-transition-5 48s infinite;
}
.gallery-card figure picture:nth-of-type(6) img,
.gallery-card figure figcaption:nth-of-type(6) {
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  z-index: 6;
  animation: photo-transition-6 48s infinite;
}
.gallery-card figure picture:nth-of-type(7) img,
.gallery-card figure figcaption:nth-of-type(7) {
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  z-index: 7;
  animation: photo-transition-7 48s infinite;
}
.gallery-card figure picture:nth-of-type(8) img,
.gallery-card figure figcaption:nth-of-type(8) {
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  z-index: 8;
  animation: photo-transition-8 48s infinite;
}
.gallery-card figure picture:nth-of-type(9) img,
.gallery-card figure figcaption:nth-of-type(9) {
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  z-index: 9;
  animation: photo-transition-9 48s infinite;
}
.gallery-card figure picture:nth-of-type(10) img,
.gallery-card figure figcaption:nth-of-type(10) {
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  z-index: 10;
  animation: photo-transition-10 48s infinite;
}
.gallery-card figure picture:nth-of-type(11) img,
.gallery-card figure figcaption:nth-of-type(11) {
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  z-index: 11;
  animation: photo-transition-11 48s infinite;
}
.gallery-card figure picture:nth-of-type(12) img,
.gallery-card figure figcaption:nth-of-type(12) {
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  z-index: 12;
  animation: photo-transition-12 48s infinite;
}

@keyframes photo-transition-2 {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 2;
  }
  8.3333333333% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 13;
    filter: contrast(20%);
  }
  14.1666666667% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
    filter: contrast(100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
  }
}
@keyframes photo-transition-3 {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 3;
  }
  16.6666666667% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 13;
    filter: contrast(20%);
  }
  22.5% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
    filter: contrast(100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
  }
}
@keyframes photo-transition-4 {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 4;
  }
  25% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 13;
    filter: contrast(20%);
  }
  30.8333333333% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
    filter: contrast(100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
  }
}
@keyframes photo-transition-5 {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 5;
  }
  33.3333333333% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 13;
    filter: contrast(20%);
  }
  39.1666666667% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
    filter: contrast(100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
  }
}
@keyframes photo-transition-6 {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 6;
  }
  41.6666666667% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 13;
    filter: contrast(20%);
  }
  47.5% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
    filter: contrast(100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
  }
}
@keyframes photo-transition-7 {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 7;
  }
  50% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 13;
    filter: contrast(20%);
  }
  55.8333333333% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
    filter: contrast(100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
  }
}
@keyframes photo-transition-8 {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 8;
  }
  58.3333333333% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 13;
    filter: contrast(20%);
  }
  64.1666666667% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
    filter: contrast(100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
  }
}
@keyframes photo-transition-9 {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 9;
  }
  66.6666666667% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 13;
    filter: contrast(20%);
  }
  72.5% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
    filter: contrast(100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
  }
}
@keyframes photo-transition-10 {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 10;
  }
  75% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 13;
    filter: contrast(20%);
  }
  80.8333333333% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
    filter: contrast(100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
  }
}
@keyframes photo-transition-11 {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 11;
  }
  83.3333333333% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 13;
    filter: contrast(20%);
  }
  89.1666666667% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
    filter: contrast(100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
  }
}
@keyframes photo-transition-12 {
  0% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 12;
  }
  91.6666666667% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
    z-index: 13;
    filter: contrast(20%);
  }
  97.5% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
    filter: contrast(100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 13;
  }
}
@media screen and (max-width: 1000px) {
  #animated-gallery {
    display: none;
  }
}