#watermark, #banner {
    display: none;
}

@media print {

    #banner{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        border: 2px double black;
        width: 50%;
        box-sizing: border-box;
        padding: 10px;
    }

    #banner::after{
        content: "Acesta este un proiect scolar!";
        font-size: 15px;
    }

    .logo, .iframe-container, .print-hidden, #hof, 
    .terms, #maps, #link-top, q,
    .fa-solid{
        display: none !important;
    }

    #page-grid{
        display: block !important;
    }

    section{
        break-inside: avoid;
    }

    a, p{
        color: black;
        text-decoration: none;
    }

    h1{
        margin-top: 50%;
        font-size: 70px;
        margin-bottom: 0;
        text-align: center;
        order: 1;
    }

    nav{
        order: 2;
        page-break-after: always;
        font-size: 10px;
    }

    ul.menu{
        display: block !important;
        list-style-type: disc !important;
    }

    ul.menu > li{
        margin-bottom: 10px;
    }

    ul.menu ul{
        display: flex !important;
        flex-direction: column;
        position: static !important;
        list-style-type: circle !important;
        padding-left: 20% !important; 
    }

    ul.menu li{
        box-sizing: border-box;
        text-align: left !important;
        width: 120% !important;
        border: none !important;
    }

    ul.menu li > a{
        text-align: left !important;
    }

    ul.menu .right-outer-button{border-bottom-right-radius: 0 !important;}
    ul.menu .right-outer-button a{text-align: left !important;}
    ul.menu .left-outer-button{border-bottom-left-radius: 0 !important;}

    footer{
        page-break-before: always;
    }

    #contact{
        grid-template-areas: "contact-area contact-area"
                             "address address"
                             "address address" !important;
    }

    #watermark{
        display: block;
        position: fixed;
        width: 60%;
        height: 10%;
        top: 45%;
        left: 20%;
        text-align: center;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.3);
        font-size: 40px;
        z-index: 1;
    }

    @page {
		size: A4 portrait;
		margin-bottom: 2cm;
		margin-top: 2cm;
		counter-increment: page;

	}

    @page: left{
        margin-left: 2cm;
        margin-right: 1cm;
    }

    @page: right{
        margin-left: 1cm;
        margin-right: 2cm;
    }
    
}