#products-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "filters filters" "produse produse";
}

.range-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}
.range-elements input {
  margin-left: 6px;
  margin-right: 10px;
}

#filters {
  grid-area: filters;
  margin-bottom: 20px;
}

#grid-produse {
  grid-area: grid-produse;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  scrollbar-color: var(--box-shadow) transparent;
}
#grid-produse .produs h3 {
  text-align: center;
}
#grid-produse .produs {
  border: 3px solid var(--box-shadow);
  border-radius: 20px;
  box-shadow: 0 0 7px var(--paragraph-shadow-color);
  background: linear-gradient(to right, var(--background-margin-color), var(--grid-background), var(--background-margin-color));
  padding: 20px;
  margin: 20px;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#grid-produse .produs .info-prod {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: center;
  border: 4px solid var(--paragraph-color);
  border-radius: 20px;
}
#grid-produse .produs .info-prod .content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#grid-produse .produs .info-prod .content figure {
  flex: 1;
  margin: 0;
  width: 100%;
  max-height: 400px;
}
#grid-produse .produs .info-prod .content figure img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 0 15px var(--text-color);
  object-fit: cover;
}
#grid-produse .produs .info-prod .table-layout {
  display: flex;
  overflow-x: auto;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 600px;
  width: 40%;
  border: 2px solid var(--text-color);
  border-left: none;
  border-top: none;
  border-bottom: none;
}
#grid-produse .produs .info-prod .table-layout p {
  font-size: 0.8em;
  align-self: center;
  margin-bottom: 5px;
}
#grid-produse .produs .info-prod .table-layout table {
  margin: 0 auto;
  width: 100%;
}
#grid-produse .produs .info-prod .table-layout td, #grid-produse .produs .info-prod .table-layout tr {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
#grid-produse .produs .info-prod .table-layout tr {
  position: relative;
}
#grid-produse .produs .info-prod .table-layout tr:nth-child(n) {
  height: 40px;
}
#grid-produse .produs .info-prod .table-layout tr::after, #grid-produse .produs .info-prod .table-layout tr::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--box-shadow), var(--box-shadow), var(--box-shadow), transparent);
}
#grid-produse .produs .info-prod .table-layout tr::before {
  top: 0;
  left: 0;
}
#grid-produse .produs .info-prod .table-layout tr td:nth-child(1) {
  border-right: 2px solid var(--box-shadow);
}
#grid-produse .produs .info-prod .table-layout tr td:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}
#grid-produse .produs .info-prod .table-layout label {
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
  text-align: center;
}
#grid-produse .produs.tonuri-de-apel .info-prod .content audio {
  width: 100%;
}
#grid-produse .produs:hover {
  transform: scale(1.015);
}

#produse {
  grid-area: produse;
}

#infoSuma {
  width: 40%;
  position: fixed;
  top: 1em;
  left: 25%;
  z-index: 10;
  color: var(--paragraph-shadow-color);
}

@media screen and (max-width: 1400px) {
  #grid-produse {
    display: block;
  }
  #grid-produse .info-prod .content figure img {
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
@media screen and (max-width: 1000px) {
  #grid-produse {
    display: block;
  }
  #grid-produse .produs .info-prod p {
    font-size: 0.2em;
  }
}
@media screen and (max-width: 800px) {
  .button-text {
    display: none;
  }
  #grid-produse .produs {
    align-items: unset;
    justify-content: unset;
  }
  #grid-produse .produs .info-prod {
    flex-direction: column;
    align-items: center;
  }
  #grid-produse .produs .info-prod .content {
    order: 1;
    width: 100%;
  }
  #grid-produse .produs .info-prod .content figure {
    width: 100%;
  }
  #grid-produse .produs .info-prod .content figure img {
    max-height: 300px;
    width: 100%;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #grid-produse .produs .info-prod .table-layout {
    order: 2;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-right: none;
  }
}