<footer>
    <section id="contact">
        <hgroup id="contact-title">
            <h3>Contact</h3>
            <p>Afla cum ne poti contacta</p>
        </hgroup>
        <address id="address">
            Telefon: <a href="tel:+40734890253">0734 890 253</a><br>
            Sediu: <a href="https://maps.app.goo.gl/LT85pnGMU7UauiDt7" target="_blank">
                Bulevardul Iuliu Maniu, <br>
                Nr. 15G,<br>
                Sector 6,<br>
                Bucuresti, Romania<br>
            </a>
            Email: <a href="mailto:postlib32@gmail.com">postlib32@gmail.com</a><br>
            Whatsapp: <a href="https://wa.me/40722683999" target="_blank"> Chat pe WhatsApp </a><br>
        </address>
        <br><br>
        <iframe id="maps"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2578.091911864311!2d26.0995867!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e1!3m2!1sro!2sro!4v1772980376263!5m2!1sro!2sro"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </section>
    <a href="#page-start" id="link-top" title="Inceputul paginii">
        <span id="triunghi">&#5123;</span>
    </a>
    <p id="copyright"><small>Copyright &copy; <time datetime="2026-02-25">25 Februarie 2026</time>, State
            Tudor-Alexandru</small>
    </p>
    <p id="banner"></p>
</footer>