<header id="page-start">
    <nav id="nav-bar">
        <label id="hamburger" for="ch-menu">
            <span class="hamburger-icon">
                <span class="ham-line"></span>
                <span class="ham-line"></span>
                <span class="ham-line"></span>
            </span>
        </label>
        <input type="checkbox" id="ch-menu">
        <ul class="menu">
            <li class="left-outer-button">
                <div class="menu-icon">
                    <span><i class="fa-solid fa-house text-icon"></i></span>
                </div>
                <div class="icon-label">Acasa</div>
                <ul>
                    <li><a href="/#welcome">Bine ati venit!</a></li>
                    <li><a href="/#announcements">Anunturi</a></li>
                    <li><a href="/#events">Evenimente de comunitate</a></li>
                    <li><a href="/#about-us">Despre noi</a></li>
                    <li><a href="/#learn">Invata</a></li>
                    <li><a href="/#faq">Intrebari frecvente</a></li>
                    <li><a href="/#fees-and-terms-of-service">Comisioane si termeni de utilizare</a></li>
                    <li class="bottom-element"><a href="/#hof">Hall of fame</a></li>
                </ul>
            </li>
            <li>
                <div class="menu-icon">
                    <span><i class="fa-solid fa-basket-shopping text-icon"></i></span>
                </div>
                <div class="icon-label">Marketplace</div>
                <ul>
                    <!-- <li><a href="#search">Cauta</a></li>
                    <li><a href="#explore-wallpapers">Exploreaza wallpapere</a></li>
                    <li class="bottom-element"><a href="#explore-ringtones">Exploreaza ringtone-uri</a></li> -->
                    <li><a href="/produse">Toate</a></li>
                    <li><a href="/produse?tip=cofetarie">Prajituri</a></li>
                    <li><a href="/produse?tip=gelaterie">Inghetate</a></li>
                    <li><a href="/produse?tip=patiserie">Patiserie</a></li>
                </ul>
            </li>
            <li>
                <div class="menu-icon">
                    <span><i class="fa-solid fa-right-to-bracket text-icon"></i></span>
                </div>
                <div class="icon-label">Autentificare</div>
                <ul>
                    <li><a href="#login">Conectare</a></li>
                    <li><a href="#sign-up">Inscriere</a></li>
                    <li class="bottom-element"><a href="#reset-password">Resetare parola</a></li>
                </ul>
            </li>
            <!-- <li>
                <div class="menu-icon">
                    <span><i class="fa-solid fa-user text-icon"></i></span>
                </div>
                <div class="icon-label">Administrare cont</div>
                <ul>
                    <li><a href="#dashboard">Panou de control</a></li>
                    <li><a href="#manage-content">Administrare continut</a></li>
                    <li><a href="#purchase-history">Istoric de achizitii</a></li>
                    <li class="bottom-element"><a href="#balance">Balanta</a></li>
                </ul>
            </li> -->
            <li>
                <div class="menu-icon">
                    <span><i class="fa-solid fa-circle-info"></i></span>
                </div>
                <div class="icon-label">Despre</div>
                <ul>
                    <li><a href="/despre#presentation">Prezentare</a></li>
                    <li><a href="/despre#history">Cum a aparut <i><b>PostLib</b></i>?</a></li>
                    <li class="bottom-element"><a href="/despre#motivation">Motivatia</a></li>
                </ul>
            </li>
            <li class="right-outer-button">
                <a href="#contact">
                    <div class="menu-icon">
                        <span><i class="fa-solid fa-phone text-icon"></i></span>
                    </div>
                    <div class="icon-label">Contact</div>
                </a>
            </li>
        </ul>
    </nav>
    <hgroup>
        <h1 class="ultra-regular"><i>PostLib</i></h1>
        <hr class="horiz-line">
    </hgroup>
    <q class="cousine-regular"><i>Mai mult decât conținut. O punte între creatori.</i></q><br><br>
    <img class="logo" src="/resurse/imagini/logo/PostLibLogo.png" alt="PostLibLogo" width="192">
</header>